body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: gray;
}

.details-container {
    background-color: antiquewhite;
    border-radius: 25px;
}

.details-container:hover {

    background-color: azure;
    border-radius: 30px;
}